:root {
   --gap: 0.8em;
}
.emoji, .inline:not(.math) {
   height: 1.2em !important; 
   display: inline-block !important;
   margin-bottom: 3px;
   box-shadow: none;
}
.aside {
  /* display: none;*/
}
.exclude {
   display: none;
}
.double { /* from shower */
   -webkit-columns: 2;
   -moz-columns: 2;
   columns: 2;
   -webkit-column-gap: calc(var(--gap) * 2);
   -moz-column-gap: calc(var(--gap) * 2);
   column-gap: calc(var(--gap) * 2);
  /* text-align: justify; */ /* devel */
}
.triple { /* from shower */
   -webkit-columns: 3;
   -moz-columns: 3;
   columns: 3;
   -webkit-column-gap: calc(var(--gap) * 2);
   -moz-column-gap: calc(var(--gap) * 2);
   column-gap: calc(var(--gap) * 2);
  /* text-align: justify; */ /* devel */
}
.double:not(:first-child), .triple {
   margin-top: 1.2em;
}
.double:not(:last-child), .triple {
   margin-bottom: 0.8em;
}
.double p:first-child {
   margin-top: 0em;
}
.double > .column, .triple > .column, .double > .twin {
   width: revert;
   vertical-align: top;
   display: inline-block;
}
.pull-left-30, .pull-right-30 {
  width: calc(30% - var(--gap));
}
.pull-left-35, .pull-right-35 {
  width: calc(35% - var(--gap));
}
.pull-left-40, .pull-right-40 {
  width: calc(40% - var(--gap));
}
.pull-left-45, .pull-right-45 {
  width: calc(45% - var(--gap));
}
.pull-left-50, .pull-right-50, .pull-left, .pull-right {
  width: calc(50% - var(--gap));
}
.pull-left-55, .pull-right-55 {
  width: calc(55% - var(--gap));
}
.pull-left-60, .pull-right-60 {
  width: calc(60% - var(--gap));
}
.pull-left-65, .pull-right-65 {
  width: calc(65% - var(--gap));
}
.pull-left-70, .pull-right-70 {
  width: calc(70% - var(--gap));
}
.pull-left-30,
.pull-left-35,
.pull-left-40,
.pull-left-45,
.pull-left-50,
.pull-left-55,
.pull-left-60,
.pull-left-65,
.pull-left-70,
.pull-left {
  float: left;
}
.pull-right-30,
.pull-right-35,
.pull-right-40,
.pull-right-45,
.pull-right-50,
.pull-right-55,
.pull-right-60,
.pull-right-65,
.pull-right-70,
.pull-right {
   float: right;
   margin-right: 0em;
}
.pull-right-30 + *,
.pull-right-35 + *,
.pull-right-40 + *,
.pull-right-45 + *,
.pull-right-50 + *,
.pull-right-55 + *,
.pull-right-60 + *,
.pull-right-65 + *,
.pull-right-70 + *,
.pull-right + * {
   clear: both;
}
.columns > .column:first-of-type > :not(ul):not(ol) {
   margin-left: 0.0em !important;
   margin-right: 0.4em;
}
.columns > .column:last-of-type > :not(ul):not(ol) {
   margin-left: 0.4em;
   margin-right: 0.0em !important;
}
.columns > .column > :not(ul):not(ol) {
   margin-left: 0.4em;
   margin-right: 0.4em;
}
.pulling:after, .columns::after {
  content: '';
  display: table;
  clear: both;
}
.height0 {
   height: 0;
}
.rotate90 {
   writing-mode: tb-rl;
   transform: rotate(180deg);
}
.hovertext {
  position: relative;
  border-bottom: 1px dotted;
}
.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  background-color: #000;
  color: #FFF;
  text-align: left;
  border-radius: 5px;
  padding: 5px 5px;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0em;
  top: 90%;
}
.hovertext:hover:before {
  opacity: 0.9;
  visibility: visible;
}
@media print {
   .zzzpulling {
      page-break-inside: avoid;
   }
}
@media screen and (max-width: 680px) {
  .pull-left-30, .pull-right-30,
  .pull-left-35, .pull-right-35,
  .pull-left-40, .pull-right-40,
  .pull-left-45, .pull-right-45,
  .pull-left-50, .pull-right-50,
  .pull-left-55, .pull-right-55,
  .pull-left-60, .pull-right-60,
  .pull-left-65, .pull-right-65,
  .pull-left-70, .pull-right-70,
  .pull-left, .pull-right {
    width: 100%;
  }
}
img.cover.fail { /* from shower for 'img'*/
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: -1;
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
   max-width: 100%;
   max-height: 100%;
}
.outline ol {
   counter-reset: item;
   list-style-type: none !important;
}
.outline ol {
   padding-left: 1em;
}
.outline ol ol {
   padding-left: 2em;
}
.outline ol > li:before {
   content: counters(item, "X.X") "Y.Y ";
   counter-increment: item;
}
.outline li p {
   display: inline;
}
#content-wrap > #main-content > #settings-container.desktop-only, /* Google Chrome Reader header */
#content-wrap > #main-content > #content > p:only-of-type:first-child, /* Google Chrome Reader header */
#toolbar.toolbar-container, /* Mozilla Firefox Reader header */
.container .meta-data .reader-estimated-time-zzz, /* Mozilla Firefox Reader header */
#d666d4993f3fc8294edf5eb9049274.dc3742482ef58b86daa984c3090999dd {
   display: none;
   border: 1px solid red;
}
iframe {
   margin: 0 auto 0 auto !important;
   padding-left: 0;
   padding-right: 0;
   border: 1px dotted #eee;
  /* width: 614px; */
}
.centered-image > img:not[aspect] {
   height: auto;
}
/*
ul li:only-child::marker {
  color: transparent;
}
*/
.width00 {width: 00%;}
.width01 {width: 01%;}
.width02 {width: 02%;}
.width03 {width: 03%;}
.width04 {width: 04%;}
.width05 {width: 05%;}
.width06 {width: 06%;}
.width07 {width: 07%;}
.width08 {width: 08%;}
.width09 {width: 09%;}
.width10 {width: 10%;}
.width11 {width: 11%;}
.width12 {width: 12%;}
.width13 {width: 13%;}
.width14 {width: 14%;}
.width15 {width: 15%;}
.width16 {width: 16%;}
.width17 {width: 17%;}
.width18 {width: 18%;}
.width19 {width: 19%;}
.width20 {width: 20%;}
.width21 {width: 21%;}
.width22 {width: 22%;}
.width23 {width: 23%;}
.width24 {width: 24%;}
.width25 {width: 25%;}
.width26 {width: 26%;}
.width27 {width: 27%;}
.width28 {width: 28%;}
.width29 {width: 29%;}
.width30 {width: 30%;}
.width31 {width: 31%;}
.width32 {width: 32%;}
.width33 {width: 33%;}
.width34 {width: 34%;}
.width35 {width: 35%;}
.width36 {width: 36%;}
.width37 {width: 37%;}
.width38 {width: 38%;}
.width39 {width: 39%;}
.width40 {width: 40%;}
.width41 {width: 41%;}
.width42 {width: 42%;}
.width43 {width: 43%;}
.width44 {width: 44%;}
.width45 {width: 45%;}
.width46 {width: 46%;}
.width47 {width: 47%;}
.width48 {width: 48%;}
.width49 {width: 49%;}
.width50 {width: 50%;}
.width51 {width: 51%;}
.width52 {width: 52%;}
.width53 {width: 53%;}
.width54 {width: 54%;}
.width55 {width: 55%;}
.width56 {width: 56%;}
.width57 {width: 57%;}
.width58 {width: 58%;}
.width59 {width: 59%;}
.width60 {width: 60%;}
.width61 {width: 61%;}
.width62 {width: 62%;}
.width63 {width: 63%;}
.width64 {width: 64%;}
.width65 {width: 65%;}
.width66 {width: 66%;}
.width67 {width: 67%;}
.width68 {width: 68%;}
.width69 {width: 69%;}
.width70 {width: 70%;}
.width71 {width: 71%;}
.width72 {width: 72%;}
.width73 {width: 73%;}
.width74 {width: 74%;}
.width75 {width: 75%;}
.width76 {width: 76%;}
.width77 {width: 77%;}
.width78 {width: 78%;}
.width79 {width: 79%;}
.width80 {width: 80%;}
.width81 {width: 81%;}
.width82 {width: 82%;}
.width83 {width: 83%;}
.width84 {width: 84%;}
.width85 {width: 85%;}
.width86 {width: 86%;}
.width87 {width: 87%;}
.width88 {width: 88%;}
.width89 {width: 89%;}
.width90 {width: 90%;}
.width91 {width: 91%;}
.width92 {width: 92%;}
.width93 {width: 93%;}
.width94 {width: 94%;}
.width95 {width: 95%;}
.width96 {width: 96%;}
.width97 {width: 97%;}
.width98 {width: 98%;}
.width99 {width: 99%;}

.moz-reader-content .moz-reader-block-img {
   display: block;
}
@media screen {
   .noscreen {
       display: none;
   }
}
